<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #ddd;
}

.box{
	display: flex;
	border: black 2px;
	height: 500px;
	width: 1000px;
}

</style>
</head>
<body>
	<div class="box">
	<table>
		<tr>
			<th>Sr No.</th>
			<th>Company Name</th>
			<th>stock</th>
			<th>action</th>
		</tr>
		<tr th:each="cycle : ${cycleList}">
			<td th:text="${cycle.id}">1</td>
			<td th:text="${cycle.company}"></td>
			<td th:text="${cycle.count}"></td>
			<td>
			<!-- <form method="get" th:action="@{/cycle/borrow/{id}(id = ${cycle.id})}">
				<input type="submit" name="action" value="take!">
				 <input type="hidden" th:field="name">
			</form> -->
			<form method="get" th:action="@{/cycle/restock/{id}(id = ${cycle.id})}">
				<input type="text" value="1" name="number">
				<input type="submit" name="action" value="restock!">
				<!-- <input type="hidden" th:field="name"> -->
			</form>
			</td>
		</tr>
	</table>
	</div>
</body>
</html>